<div class="rmdb-movieinfobar">
  <div class="rmdb-rmdb-movieinfobar-content-col">
    <i class="far fa-clock fa-2x fa-time"></i>
    <span class="rmdb-movieinfobar-info">
      Running time:
      {{calcTime(time)}}
    </span>
  </div>
  <div class="rmdb-rmdb-movieinfobar-content-col">
    <i class="far fa-money-bill-alt fa-2x fa-budget"></i>
    <span class="rmdb-movieinfobar-info">
      Budget: {{convertMoney(budget)}}
    </span>
  </div>
  <div class="rmdb-rmdb-movieinfobar-content-col">
    <i class="fas fa-ticket-alt fa-2x fa-revenue"></i>
    <span class="rmdb-movieinfobar-info">
      Revenue: {{convertMoney(revenue)}}
    </span>
  </div>
</div>